//Wrapper
.wrapper {
  display: block;
  background-color: var(--bg-white);
  border-radius: 10px;
  width: 100%;
  height: calc(100vh - 118px);
  padding: 18px;
  border: 1px solid #dbdbdb;
}
//Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 18px 20px;
  background-color: var(--bg-white);
  z-index: 999;
  border-bottom: 1px solid #dbdbdb;
  &-bar {
    font-size: 28px;
    margin-right: 20px;
    display: none;
  }
  &-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  &-search {
    width: 100%;
    max-width: 542px;
    height: 42px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 13px 20px;
    gap: 10px;
    background-color: #efeeef;
    i {
      color: #8e8e8e;
    }
    input {
      background-color: transparent;
      &::placeholder {
        color: #8e8e8e;
      }
    }
  }
  &-control {
    width: 100%;
    border: none;
    &::placeholder {
      color: var(--white-color);
    }
  }
  &-author {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-link {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
    }
  }
}
//Form
.form {
  max-width: 580px;
  margin: 0 auto;
  padding-top: 108px;
  &-body {
    background-color: var(--bg-white);
    padding: 60px 20px;
    box-shadow: 0 0 15px 1px rgba(62, 62, 62, 0.1);
    border-radius: 10px;
  }
  &-caption {
    font-weight: bold;
  }
  &-caption,
  &-desc {
    text-align: center;
  }
  &-bordered {
    position: relative;
    margin-bottom: 20px;
    i {
      position: absolute;
      top: 0;
      line-height: 52px;
      left: 20px;
    }
  }
  &-input {
    display: block;
    border: 1px solid var(--gray-border);
    border-radius: 10px;
    padding-left: 46px;
    width: 100%;
    height: 52px;
    &:focus {
      box-shadow: none;
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  &-remember {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-button {
    display: block;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 10px;
    margin: 30px 0;
    background-color: var(--bg-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &:disabled {
      background-color: #027fff80;
    }
  }
  &-register {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    p {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
    }
  }
}
//Main
.main {
  padding-top: 78px;
  &-body {
    width: calc(100% - 240px);
    margin-left: auto;
    padding: 20px;
  }
}
//Sidebar
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  min-height: 100vh;
  position: fixed;
  top: 78px;
  left: 0;
  .icon {
    &-heart {
      color: #ff4864;
    }
    &-home {
      color: #00aaa3;
    }
    &-profile {
      color: #548aff;
    }
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    min-width: 200px;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &.active {
      background-color: var(--gray);
      color: white;
    }
    &:hover:not(.active) {
      color: inherit;
    }
  }
}
//Setting
.setting {
  display: flex;
  height: 100%;
  border-radius: 10px;
  &-menu {
    padding: 18px 20px;
    border-right: 1px solid var(--gray-border);
    height: 100%;
  }
  &-body {
    width: 100%;
    padding: 18px 18px;
  }
  &-item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(78, 93, 120, 0.13);
    text-decoration: none;
    color: inherit;
    min-width: 212px;
    font-size: 14px;
    &:hover,
    &.active {
      color: inherit;
      font-weight: bold;
    }
  }
  &-icon {
    width: 40px;
  }
  &-angle {
    font-size: 18px;
  }
  &-label {
    width: 130px;
  }
  &-form {
    width: 100%;
  }
}
// Feed
.feed {
  display: flex;
  gap: 20px;
  height: 100%;
  width: 100%;
  &-body {
    width: calc(100% - 270px);
  }
}
// Tag
.tags {
  width: 250px;
  position: fixed;
  top: 98px;
  right: 20px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c8a3a3;
    padding: 5px 0;
    font-size: 14px;
    background-color: transparent;
    color: var(--white-color);
    caret-color: #e38c9e;
    &::placeholder {
      color: var(--white-color);
    }
  }
  &-search {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: inherit;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover {
      .tags-close {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        opacity: 1;
      }
    }
  }
  &-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s;
    font-size: 20px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
  }
  &-input {
    border: 1px solid #dbdbdb;
    min-height: 52px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    border-radius: 10px;
    padding: 15px;
  }
  &-control {
    border: none;
    flex: 1;
  }
  &-item {
    background-color: var(--gray);
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }
  &-header {
    border-bottom: 1px solid var(--gray);
    padding: 10px 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    color: white;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  &-body {
    background-color: var(--bg-white);
    padding: 18px;
  }
}
// Article
.article {
  position: relative;
  background-color: var(--bg-white);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.5s;
  border: 1px solid #dbdbdb;
  cursor: pointer;
  &:hover {
    transform: scale(1.02);
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &-add {
    margin-bottom: 20px;
  }
  &-action {
    position: absolute;
    right: 18px;
    top: 10px;
    font-size: 22px;
    i {
      transition: all 0.5s;
      margin: 0 5px;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &-notfound {
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #dbdbdb;
    background: white;
    border-radius: 10px;
    color: var(--gray);
  }
  &-what {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(255, 203, 113);
    padding: 3px;
  }
  &-author {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  &-name {
    margin-bottom: 0;
    span {
      &:hover {
        color: #548aff;
      }
    }
  }
  &-time {
    font-size: 14px;
  }
  &-heart {
    font-size: 28px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--gray);
    &.active {
      color: #ff4864;
    }
  }
  &-favorite {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    i {
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
    h6 {
      margin-bottom: 0;
      white-space: nowrap;
    }
  }
  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.profile {
  &-information {
    display: flex;
    align-items: center;
    gap: 100px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb;
  }
  &-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #dbdbdb;
  }
  &-action {
    display: flex;
    align-items: center;
    gap: 20px;
    span {
      font-size: 25px;
    }
  }
  &-edit {
    display: block;
    border-radius: 4px;
    padding: 5px 9px;
    font-size: 14px;
    border: 1px solid #dbdbdb;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  &-couter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
  }
  &-menu {
    background-color: white;
    border: 1px solid #dbdbdb;
    display: flex;
    list-style: none;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    li {
      border-radius: 10px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      position: relative;
      color: #929193;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      padding: 0 20px;
      &.active {
        color: white;
        font-weight: 500;
        background-color: #4e5d78;
      }
    }
  }
}
.home {
  &-menu {
    max-width: calc(100% - 268px);
  }
}
.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &-write {
    display: flex;
  }
  &-input {
    width: 100%;
    min-height: 40px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 10px 18px;
  }
  &-item {
    position: relative;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 10px;
  }
  &-author {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    padding: 18px;
  }
  &-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  &-name {
    margin-bottom: 0;
    font-size: 18px;
  }
  &-content {
    margin-bottom: 0;
    padding: 18px;
  }
  &-delete {
    position: absolute;
    right: 18px;
    top: 18px;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  &-date {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .feed {
    flex-direction: column-reverse;
  }
  .feed-body {
    width: 100%;
  }
  .tags {
    position: static;
    width: 100%;
  }
  .profile-information {
    flex-direction: column;
    gap: 10px;
  }
  .profile-action {
    justify-content: center;
  }
  .setting {
    flex-direction: column;
    height: auto;
  }
  .home-menu {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main-body {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .header-bar {
    display: block;
  }
}
